@{
    ViewData["Title"] = "Homepage";
}


<div class="main-wrapper">
    <div class="Lorem-ipsum-text">
        <p>Lorem ipsum text</p>
    </div>
    <div class="Forma-1-copy-12">
        <p><img src="~/assets/img/ic-check.png"> Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        <p><img src="~/assets/img/ic-check.png"> Lorem ipsum dolor sit amet, consectetur adipiscing</p>
        <p><img src="~/assets/img/ic-check.png"> Lorem ipsum dolor sit amet, consectetur adipiscing</p>
    </div>
    <div class="center-btn" align="center">
        <button type="button" class="button">Let's Book a Cleaner</button>
    </div>
    <div class="icon_line mb-5">
        <div class="row" align="center">
            <div class="column" style="margin-left: 200px;">
                <img src="~/assets/img/step-1.png">
                <h5>Enter your Postcode</h5>
            </div>
            <div class="column">
                <img src="~/assets/img/step-arrow-1.png">
            </div>
            <div class="column">
                <img src="~/assets/img/step-2.png">
                <h5>Select your plan</h5>
            </div>
            <div class="column">
                <img src="~/assets/img/step-arrow-1-copy.png">
            </div>
            <div class="column">
                <img src="~/assets/img/step-3.png">
                <h5>Pay securely online</h5>
            </div>
            <div class="column">
                <img src="~/assets/img/step-arrow-1.png">
            </div>
            <div class="column">
                <img src="~/assets/img/step-4.png">
                <h5>Enjoy amazing service</h5>
            </div>
        </div>
    </div>
    <div class="down_arrow" align="center">
        <img src="~/assets/img/group-18_5.png">
    </div>
</div>
<!-- /main-wrapper -->
<section>
    <div>
        <h2 align="center" class="my-5"><b>Why Helperland</b></h2>
        <div class="container mx-7 mb-5">
            <div class="row" align="center">
                <div class="col-md-3 col-12">
                    <img src="~/assets/img/helper-img-1.png" class="round_img">
                    <div class="img_info">
                        <h2><b>Experience & Vetted Proffessionals</b></h2>
                        <p>dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    </div>
                </div>
                <div class="col-md-1 col-12"></div>
                <div class="col-md-3 col-12">
                    <img src="~/assets/img/group-23.png" class="round_img">
                    <div class="img_info">
                        <h2><b>Secure Online Payment</b></h2>
                        <p>Payment is processed securely online. Customers pay safely online and manage the booking</p>
                    </div>
                </div>
                <div class="col-md-1 col-12"></div>
                <div class="col-md-3 col-12">
                    <img src="assets/img/group-24.png" class="round_img">
                    <div class="img_info">
                        <h2><b>Dedicated Customer Service</b></h2>
                        <p>to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information.</p>
                    </div>
                </div>
                <div class="col-md-1 col-12"></div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="two_bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-12" style="align-items: center;">
                    <h2 class="mt-5"><b>Lorem ipsum dolor sit amet, consectetur</b></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nisi sapien, suscipit ut accumsan vitae, pulvinar av libero.</p>
                    <p>Aliquam erat volutpat. Nullam quis ex odio. Nam bibendum cursus purus, vel efficitur urna finibus vitae. Nullam finibus aliquet pharetra. Morbi in sem dolor. Integer pretium hendrerit ante quis vehicula.</p>
                    <p>Mauris consequat ornare enim, sed lobortis quam ultrices sed.</p>
                </div>
                <div class="col-sm-4 col-12">
                    <img src="~/assets/img/group-36.png">
                </div>
            </div>
            <div class="mb-3">
                <h2 align="center"><b>Our Blog</b></h2>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-12 py-2">
                            <div class="card">
                                <img src="~/assets/img/group-28.png">
                                <div class="card-body pl-2 pr-2">
                                    <h5 class="card-title"><b>Lorem ipsum dolor sit amet</b></h5>
                                    <p style="color: #A3A3A3;">January 28, 2019</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <p>Read the Post <img src="~/assets/img/shape-2.png"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 py-2">
                            <div class="card">
                                <img src="~/assets/img/group-29.png">
                                <div class="card-body pl-2 pr-2">
                                    <h5 class="card-title"><b>Lorem ipsum dolor sit amet</b></h5>
                                    <p style="color: #A3A3A3;">January 28, 2019</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <p>Read the Post <img src="assets/img/shape-2.png"></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-12 py-2">
                            <div class="card">
                                <img src="~/assets/img/group-30.png">
                                <div class="card-body pl-2 pr-2">
                                    <h5 class="card-title"><b>Lorem ipsum dolor sit amet</b></h5>
                                    <p style="color: #A3A3A3;">January 28, 2019</p>
                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet.</p>
                                    <p>Read the Post <img src="~/assets/img/shape-2.png"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="what_our_customer_say">
        <h2 align="center"><b>What Our Customers Say</b></h2>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4 col-12 py-2">
                    <div class="card py-2 pl-3">
                        <div style="display: inline;">
                            <img src="~/assets/img/message.png" style="float:right;">
                            <img src="~/assets/img/group-31.png" style="float: left; padding-top: 35px;">
                            <span>
                                <h5><b>Lary Watson</b></h5>
                                <p style="color: #8E8E8E;">Manchester</p>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <p>Read More <img src="assets/img/shape-2.png"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12 py-2">
                    <div class="card py-2 pl-3">
                        <div style="display: inline;">
                            <img src="~/assets/img/message.png" style="float:right;">
                            <img src="~/assets/img/group-32.png" style="float: left; padding-top: 35px;">
                            <span>
                                <h5><b>John Smith</b></h5>
                                <p style="color: #8E8E8E;">Manchester</p>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <p>Read More <img src="assets/img/shape-2.png"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-12 py-2">
                    <div class="card py-2 pl-3">
                        <div style="display: inline;">
                            <img src="~/assets/img/message.png" style="float:right;">
                            <img src="~/assets/img/group-33.png" style="float: left; padding-top: 35px;">
                            <span>
                                <h5><b>Lars Johnson</b></h5>
                                <p style="color: #8E8E8E;">Manchester</p>
                            </span>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum metus pulvinar aliquet consequat. Praesent nec malesuada nibh.</p>
                                <p>Nullam et metus congue, auctor augue sit amet, consectetur tortor.</p>
                                <p>Read More <img src="assets/img/shape-2.png"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-12">
                        <img src="~/assets/img/right-arrow.png" style="float:left;">
                    </div>
                    <div class="col-md-8 col-12">
                        <center>
                            <h5><b>GET OUR NEWSLETTER</b></h5><br>
                            <span>
                                <button id="email_btn">YOUR EMAIL</button>
                                <button id="sub_btn">Submit</button>
                            </span>
                        </center>
                    </div>
                    <div class="col-md-2 col-12">
                        <img src="~/assets/img/layer-598.png" style="float:right;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--login  Modal -->
<!--<div class="modal fade text-dark" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-sm">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLongTitle">Login to your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Helperland" asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">
                    <input asp-for="Username" class="form-control mt-3" type="text" name="username" placeholder="Email Address" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                    <input asp-for="Password" class="form-control mt-3" type="password" name="password" placeholder="password">
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Remember Me</label>
                    </div>
                </div>
                <div class="" align="center">
                    <input type="submit" value="login" class="form-control rounded_btn" /><br>
                    <a href="" data-toggle="modal" data-target="#ForgetPass" data-dismiss="modal" class="m-auto text-primary">Forget password?</a><br />
                    <p>Don't have an account?<a href="" data-toggle="modal" data-target="#CreateAccount" data-dismiss="modal" class="text-primary">Create an account</a></p>
                </div>
            </form>
        </div>
    </div>
</div>-->
<!--login  Modal -->
<div class="modal fade text-dark" id="login" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-sm">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLongTitle">Login to your account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-action="Login" method="post">
                <div class="modal-body">
                    <input class="form-control" placeholder="Email Address" />
                    <input class="form-control mt-3" placeholder="Password" />
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">Remember Me</label>
                    </div>
                </div>
                <div class="" align="center">
                    <input type="submit" value="login" class="form-control rounded_btn" /><br>
                    <a href="" data-toggle="modal" data-target="#ForgetPass" data-dismiss="modal" class="m-auto text-primary">Forget password?</a><br />
                    <p>Don't have an account?<a href="" data-toggle="modal" data-target="#CreateAccount" data-dismiss="modal" class="text-primary">Create an account</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Create Account Modal -->
<div class="modal fade" id="CreateAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-lg">
            <div class="container-fluid">
                <center>
                    <h2 class="modal-title" id="exampleModalLongTitle">Create an account</h2>
                    <div class="hr">
                        <hr>
                        <img src="~/assets/img/separator.png">
                    </div>
                </center>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <input class="form-control" placeholder="First name" />
                        </div>
                        <div class="col-md-6 col-12">
                            <input class="form-control" placeholder="Last name" />
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-md-6 col-12">
                            <input class="form-control" placeholder="E-mail address" />
                        </div>
                        <div class="col-md-6 col-12 input-group">
                            <span class="input-group-text">+49</span>
                            <input class="form-control" name="mobile" placeholder="Mobile No" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-12">
                            <input class="form-control" placeholder="Password" />
                        </div>
                        <div class="col-md-6 col-12">
                            <input class="form-control" placeholder="Confirm password" />
                        </div>
                    </div>
                    <div class="form-check mt-3">
                        <input class="form-check-input" type="checkbox" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">I have read the <a href="">privacy policy.</a></label>
                    </div>
                </div>
                <div class="container-fluid" align="center">
                    <input type="submit" value="Register" class="register_btn m-auto" />
                    <p class="m-auto">Already registered?<a href="" data-toggle="modal" data-target="#login" data-dismiss="modal" class="text-primary">Login now</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Forget password  Modal -->
<div class="modal fade" id="ForgetPass" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-sm">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLongTitle">Forget password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <input class="form-control" placeholder="Email Address" />
                </div>
                <div class="">
                    <input type="submit" value="Send" class="form-control rounded_btn" /><br>
                    <a href="" data-toggle="modal" data-target="#login" data-dismiss="modal" class="text-primary mx-auto">Login now</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!--HelperRegistration  Modal -->
<div class="modal fade" id="HelperRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="container-fluid">
                <h2 class="modal-title" id="exampleModalLongTitle" align="center">Register as Helper!</h2>
            </div>
            <form>
                <div class="modal-body">
                    <input type="text" name="fanme" class="form-control mt-4" placeholder="First Name">
                    <input type="text" name="lanme" class="form-control mt-3" placeholder="last Name">
                    <input type="email" name="email" class="form-control mt-3" placeholder="Email Address">
                    <div class="input-group mt-3">
                        <span class="input-group-text">+49</span>
                        <input class="form-control" type="tel" name="mobile" placeholder="Mobile No">
                    </div>
                    <input type="password" name="password" class="form-control mt-3" placeholder="password">
                    <input type="password" name="c_password" class="form-control mt-3" placeholder="conform password">
                    <div class="form-group form-check mt-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> I accept <a href="" class="text-primary">terms and conditions</a> & <a href="" class="text-primary">privacy policy</a>
                        </label>
                    </div>

                </div>
                <div class="container-fluid" align="center">
                    <center>
                        <button type="submit" class="rounded_btn mb-3"> Getting started <img src="assets/img/arrow-white.png"></button>
                    </center>
                </div>
            </form>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterCostomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">-->
@*<label asp-for="Firstname" class="control-label"></label>*@
<!--<input asp-for="FirstName" class="form-control" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group">-->
@*<label asp-for="Lastname" class="control-label"></label>*@
<!--<input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group">-->
@*<label asp-for="Email" class="control-label"></label>*@
<!--<input asp-for="Email" class="form-control" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group">-->
@*<label asp-for="Mobile" class="control-label"></label>*@
<!--<input asp-for="Mobile" class="form-control" />
    <span asp-validation-for="Mobile" class="text-danger"></span>
</div>
<div class="form-group">-->
@*<label asp-for="Password" class="control-label"></label>*@
<!--<input asp-for="Password" class="form-control" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="form-group">-->
@*<label asp-for="Password" class="control-label"></label>*@
<!--<input asp-for="Password" class="form-control" placeholder="Conform Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>-->
