
@{
    ViewData["Title"] = "Prices";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<head>
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>

<div class="banner">
    <img src="~/assets/img/group-18.png">
</div>
<section>
    <div class="container-fluid price_section_1">
        <h2 class="test">Prices</h2>
        <div class="hr_img">
            <hr>
        </div>
        <center>
            <table width="553px" style="text-align:center">
                <tr>
                    <th height="59px" style="font-size: 20px; background: #1D7A8C 0% 0% no-repeat padding-box; color: #FFFFFF;">One Time</th>
                </tr>
                <tr>
                    <td class="hrs">&#8364 20/hr</td>
                </tr>
                <tr>
                    <td><img src="~/assets/img/forma-1_5.png">Lower prices</td>
                </tr>
                <tr>
                    <td><img src="~/assets/img/forma-1_5.png">Lower prices</td>
                </tr>
                <tr>
                    <td><img src="~/assets/img/forma-1_5.png">Lower prices</td>
                </tr>
            </table>
        </center>
</div>
</section>

<section>
    <div class="container-fluid price_ex_service">
        <h2 class="mt-3">Extra services</h2>
        <div class="hr_img">
            <hr>
        </div>
        <div class="my-5">
            <div class="row">
                <div class="price_column">
                    <div class="price_line_image">
                        <img src="~/assets/img/3.png" class="center_img">
                    </div>
                    <p>Inside cabinets</p>
                    <p class="price_30-min">30 minutes</p>
                </div>
                <div class="price_column">
                    <div class="price_line_image">
                        <img src="~/assets/img/5.png" class="center_img">
                    </div>
                    <p>Inside fridge</p>
                    <p class="price_30-min">30 minutes</p>
                </div>
                <div class="price_column">
                    <div class="price_line_image">
                        <img src="~/assets/img/4.png" class="center_img">
                    </div>
                    <p>Inside oven</p>
                    <p class="price_30-min">30 minutes</p>
                </div>
                <div class="price_column">
                    <div class="price_line_image">
                        <img src="~/assets/img/2.png" class="center_img">
                    </div>
                    <p>Laundry wash & dry</p>
                    <p class="price_30-min">30 minutes</p>
                </div>
                <div class="price_column">
                    <div class="price_line_image">
                        <img src="~/assets/img/1.png" class="center_img">
                    </div>
                    <p>Interior windows</p>
                    <p class="price_30-min">30 minutes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid price_section_2">
        <h2 class="pt-3">What we include in cleaning</h2>
        <div class="hr_img">
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-12 py-2">
                    <div class="card">
                        <img src="~/assets/img/group-18_3.png">
                        <div class="card-body pl-2 pr-2" style="text-align: left;">
                            <h5 class="card-title"><b>Bedroom and Living Room</b></h5>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Dust all accessible surfaces</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Wipe down all mirrors and glass fixtures</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Clean all floor surfaces</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Take out garbage and recycling</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 py-2">
                    <div class="card">
                        <img src="~/assets/img/group-18_2.png">
                        <div class="card-body" style="text-align: left;">
                            <h5 class="card-title"><b>Bathrooms</b></h5>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Wash and sanitize the toilet, shower, tub, sink</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Dust all accessible surfaces</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Wipe down all mirrors and glass fixtures</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Clean all floor surfaces</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Take out garbage and recycling</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12 py-2">
                    <div class="card">
                        <img src="~/assets/img/group-18_4.png">
                        <div class="card-body pl-2 pr-2" style="text-align: left;">
                            <h5 class="card-title"><b>Kitchen</b></h5>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Dust all accessible surfaces</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Empty sink and load up dishwasher</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Wipe down exterior of stove, oven and fridge</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Clean all floor surfaces</p>
                            <p class="card-text"><img src="~/assets/img/vector-smart-object-copy.png"> Take out garbage and recycling</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid price_section_3">
        <h2>Why Helperland</h2>
        <div class="hr_img">
            <hr>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="column left" style="text-align: right; margin-left: 200px;">
                    <p><b>Experienced and vetted professionals</b></p>
                    <p style="width: 286px;  color: #646464;  font-size: 12px; margin-left: 70px;" align="right">dominate the industry in scale and scope with an adaptable, extensive network that consistently delivers exceptional results.</p>
                    <p><b>Dedicated customer service</b></p>
                    <p style="width: 275px;  color: #646464;  font-size: 12px; margin-left: 70px;" align="right">to our customers and are guided in all we do by their needs. The team is always happy to support you and offer all the information. you need.</p>
                </div>
                <div class="column middle">
                    <img src="~/assets/img/the-best-img-1.png">
                </div>
                <div class="column right" style="text-align: left;">
                    <p><b>Every cleaning is insured</b></p>
                    <p style="width: 286px;  color: #646464;  font-size: 12px;">and seek to provide exceptional service and engage in proactive behavior. We‘d be happy to clean your homes.</p>
                    <p><b>Secure online payment</b></p>
                    <p style="width: 275px;  color: #646464;  font-size: 12px;">Payment is processed securely online. Customers pay safely online and manage the booking.</p>
                </div>
            </div>
        </div>

        <div>

            <img src="~/assets/img/layer-598.png" style="float:left; padding-left: 100px;">
            <h6 class="get-our-newsletter" style="margin-right: 120px;"><b>GET OUR NEWSLETTER</b></h6>
            <span>
                <button class="email_btn">YOUR EMAIL</button>
                <button class="submit_btn">submit</button>
            </span>
            <img src="~/assets/img/layer-598.png" style="float:right; padding-right: 100px;">
        </div>
    </div>
</section>


