@model Helperland.Models.ChangePassword

@Html.AntiForgeryToken()
@{
    Layout = null;
}
<ul>
    <span id="ErrorMsg" class="text-danger"></span>
</ul>
<form id="ChangePassForm" method="post" asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-md-4 col-12">
            <label>old Password</label>
            <input asp-for="OldPassword" id="OldPassword" class="form-control" placeholder="old password" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 col-12">
            <label>New Password</label>
            <input asp-for="Password" id="Pass" class="form-control" placeholder="New Password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 col-12">
            <label>Confirm Password</label>
            <input asp-for="Confirmpwd" id="Cpass" class="form-control" placeholder="Confirm Password" />
            <span asp-validation-for="Confirmpwd" class="text-danger"></span>
        </div>
    </div>
    <button class="rounded_btn px-3 mt-3" onclick="PasswordChangeClick();">Save</button>
</form>