* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
nav {
    background-color: #7e7e7e;
    opacity:0.8;
}
.nav_link{
    color:#ffffff;
}
.main-body{
    width: 1560px;
    margin: 0px;
    padding:0px;
}

.main-wrapper {
    background-image: url('../../assets/img/bg-img.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 930px;
    background-position: center;
    background-size: cover;
    position: relative;
}

#logo {
    margin-top: 10px;
    margin-left: 17px;
}

a {
    color: #ffffff;
    align-content: center;
    text-align: center;
}

    a:hover {
        color: #ffffff;
    }

img.white_logo_transparent_background {
    width: 175px;
    height: 130px;
    margin: 0 49px 190px 0;
    object-fit: contain;
}

.book_btn {
    width: 160px;
    height: 40px;
    background: rgba(0, 0, 0, 0.0) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: white;
}

.log_btn {
    width: 83px;
    height: 40px;
    background: rgba(0, 0, 0, 0.0) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: white;
}

.helper_btn {
    width: 161px;
    height: 40px;
    background: rgba(0, 0, 0, 0.0) 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    color: white;
}
.book_btn:hover, .log_btn:hover, .helper_btn:hover {
    background: #29626D 0% 0% no-repeat padding-box;
}

.Lorem-ipsum-text {
    padding-top: 318px;
    padding-left:55px;
    /*margin: 150px 120px 22px 41px;*/
    font-size: 50px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    color: #fff;
}

.Forma-1-copy-12 {
    margin: 10px 120px 22px 41px;
    color: #fff;
}

.button {
    top: 483px;
    left: 668px;
    width: 225px;
    height: 54px;
    border: 1px solid #FFFFFF;
    border-radius: 27px;
    background-color: rgba(4, 149, 149, 0.5);
    color: white;
}

.icon_line {
    margin-top: 100px;
    margin-bottom: 100px;
}

.column {
    float: left;
    width: 11.33%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column h5 {
    color: #ffffff;
}

.down_arrow {
    padding-bottom: 100px;
}

.round_img {
    border-radius: 50%;
    width: 320px;
    height: 320px;
    margin: 20px;
}

.img_info {
    width: 320px;
    margin: 20px;
    display: block;
    justify-content: space-between;
}

.two_bg {
    background-image: url('../../assets/img/blog-left-bg.png'), url('../../assets/img/blog-right-bg.png');
    background-repeat: no-repeat;
    background-position: left, right;
}

.what_our_customer_say {
    height: 680px;
    background-color: #F4F5F8;
    padding-top: 35px;
}

    .what_our_customer_say h2 {
        margin-bottom: 30px;
    }

.card {
    border-left: 3px solid darkblue;
}

    .card span {
        float: left;
        margin-left: 10px;
        padding-top: 35px;
    }

#email_btn {
    width: 233px;
    height: 40px;
    border-radius: 20px;
    text-align: left;
}

#sub_btn {
    width: 88px;
    height: 40px;
    background-color: #FF7B6D;
    color: white;
}

.footer {
    width:1560px;
    background: #111111 0% 0% no-repeat padding-box;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

.upper_footer {
    width:inherit;
    height: 131px;
    background-color: #111111;
}

.logo_footer {
    padding-top: 20px;
    padding-left: 40px;
}

ul.link_page li {
    float: left;
    display: inline;
    margin-top: 50px;
    font-size: 10px;
    padding-left: 20px;
}

.lower_footer {
    width:inherit;
    height: 64px;
    background-color: #292929;
}

.footer_btn {
    width: 99px;
    height: 40px;
    float: right;
    border-radius: 18px;
    background-color: #EED507;
}

@media screen and (max-width: 992px) {
    * {
        overflow-x: hidden;
    }

    .header {
        width: 100%;
    }

    .main-wrapper {
        width: auto;
        height: auto;
    }

    .Lorem-ipsum-text {
        height: auto;
        overflow-y: hidden;
        line-height: normal;
    }

    .icon_line {
        height: auto;
    }

    .column {
        width: 62px;
        height: auto;
    }

    .what_our_customer_say {
        height: auto;
    }

    .footer {
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 10px;
    }

    .upper_footer {
        height: auto;
    }

    .logo_footer {
        width: 100%;
        height: auto;
    }

    ul.link_page li {
        width: 100%;
        float: none;
        margin-top: 10px;
    }

    .lower_footer {
        width: 100%;
        height: auto;
    }
}
