@model IEnumerable<Helperland.Models.ViewModel>
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
    .round_btn {
        background: #1D7A8C 0% 0% no-repeat padding-box;
        color: #fff;
        border-radius: 17px;
    }

        .round_btn:hover {
            background-color: #204060;
            color: #ffffff;
        }

    .top_form {
        width: 1053px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #E1E1E1;
        padding: 15px;
    }

    .serch_btn {
        width: 84px;
        height: 30px;
        background: #1FB6FF 0% 0% no-repeat padding-box;
    }

    .clear_btn {
        width: 84px;
        height: 30px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #DEDDDD;
    }
    .avtar_image {
        width: 55px;
        height: 55px;
        border: 1px solid #B0C9CE;
        background: #F9F9F9 0% 0% no-repeat padding-box;
        text-align: center;
        border-radius: 50%;
        align-items: center;
        display: inline-block;
        vertical-align: central;
        position: relative;
    }

        .avtar_image:hover {
            border: 3px solid #1D7A8C;
        }

    .center_img {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
</style>
<div class="main_content">
    <div class="user_management" id="tab1Content">
    </div>
    <div class="user_management" id="tab2Content" style="display:none;">
       
    </div>
    <p style="margin-left: 300px;">©2018 Helperland. All rights reserved.</p>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        Tab1Click();
    });
    function Tab1Click() {
        $("#tab1").addClass("active");
        $("#tab2").removeClass("active");

        $("#tab2Content").hide();
        $("#tab1Content").show().load('@Url.Action("Tab1Content", "Admin")');
    }
    function Tab2Click() {
        $("#tab2").addClass("active");
        $("#tab1").removeClass("active");

        $("#tab1Content").hide();
        $("#tab2Content").show().load('@Url.Action("Tab2Content", "Admin")');
    }
    function EditRescheduleClicked(id) {
        $("#loadModelForm").show().load('@Url.Action("EditModel", "Admin")', { Id: id });
        $("#EditDetailsModel").modal('show');
    }
    function SubmitEditedAddress() {
        $("#EditDataForm").submit(function (e) {
            e.preventDefault();
            var formvalues = $(this).serializeArray();
            if ($("#StartDate").val() != "") {
                var x = $("#StartDate").val() + " " + $("#StartTime").val();
                formvalues.push({ name: "BookingStartTime", value: x });
            }
            else {
                formvalues.push({ name: "BookingStartTime", value: "" });
            }
            $.post("/Admin/EditDetails", formvalues, function (data) {
               if (data == true) {
                    alert("Details Updated Successfully.");
                    $("#EditDetailsModel").modal('hide');
                    Tab2Click();
                }
                else {
                    //$("#EditDataForm").trigger("reset");
                    $("#ErrorMsgFromAddress").empty();
                    for (var i = 0; i < Object.keys(data).length; i++) {
                        $("#ErrorMsgFromAddress").append("<li>" + data[i] + "</li>");
                    }
                }
            });
        });

    }

    function CancelClicked(id) {
        var result = confirm("Are you sure you want to delete Service: " + id + " ?");
        if (result) {
            $.post("/Admin/CancelService", { Id: parseInt(id) }, function (data) {
                if (data == true) {
                    alert("Service Cancelled successfully.");
                    Tab1Click();
                }
                else {
                    alert("Error.");
                    Tab2Click();
                }
            });
        }
    }

    function ActivateClicked(id) {
        $.post("/Admin/ActivateUser", { Id: parseInt(id) }, function (data) {
            if (data == true) {
                alert("User Activated successfully.");
                Tab2Click();
            }
            else if (data == false) {
                alert("User Deactivated successfully.");
                Tab2Click();
            }
            else {
                alert("Error.");
                Tab2Click();
            }
        });
    }

    function ApprooveClicked(id) {
        $.post("/Admin/ApprooveUser", { Id: parseInt(id) }, function (data) {
            if (data == true) {
                alert("User Approoved successfully.");
                Tab2Click();
            }
            else {
                alert("Error.");
                Tab2Click();
            }
        });
    }

    //function Tab2Search() {
    //    $("#Tab2SearchForm").submit(function (e) {
    //        e.preventDefault();
    //        var formvalues = $(this).serializeArray();
    //        $.post("Admin/UserSearch", formvalues, function (data) {
    //            alert(data);
    //        })
    //    })
    //}
</script>