@model Helperland.Models.User

@{
    ViewData["Title"] = "Service Provider";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    <link href="~/css/Style.css" rel="stylesheet" />
    <style>
        .rounded_btn {
            width: 150px;
            height: 40px;
            background: #29626D 0% 0% no-repeat padding-box;
            border: 1px solid #FFFFFF;
            border-radius: 20px;
            color: white;
        }
    </style>
    <script>
        $(document).ready(function () {
            $("#HelperRegistration").modal('show');
        });
    </script>
</head>

<!--HelperRegistration  Modal -->

<form asp-action="ProviderSignup">
    <div class="modal fade" id="HelperRegistration" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="container-fluid">
                    <h2 class="modal-title" id="exampleModalLongTitle" align="center">Register as Helper!</h2>
                </div>
                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <input asp-for="FirstName" class="form-control" placeholder="First name" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                        <div class="col-md-6 col-12">
                            <input asp-for="LastName" class="form-control" placeholder="Last name" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row  mt-3">
                        <div class="col-md-6 col-12">
                            <input asp-for="Email" class="form-control" placeholder="E-mail address" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 col-12 input-group">
                            <span class="input-group-text">+49</span>
                            <input asp-for="Mobile" class="form-control" name="mobile" placeholder="Mobile No">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6 col-12">
                            <input asp-for="Password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 col-12">
                            <input asp-for="Confirmpwd" class="form-control" placeholder="Confirm password" />
                            <span asp-validation-for="Confirmpwd" class="text-danger"></span>
                        </div>
                    </div><div class="form-group form-check mt-3">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"> I accept <a href="" class="text-primary">terms and conditions</a> & <a href="" class="text-primary">privacy policy</a>
                        </label>
                    </div>

                </div>
                <div class="container-fluid" align="center">
                    <center>
                        <button type="submit" class="rounded_btn mb-3"> Getting started <img src="~/assets/img/arrow-white.png"></button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</form>

<!--main wrapper-->
<div class="service_banner">
    <div style="margin-top:400px;">
        <center>
            <a href=""><img src="~/assets/img/group-18_5.png"></a>
        </center>
    </div>
</div>
<!-- /main_wrapper -->

<section>
    <div class="two_bg mt-4">
        <div class="how_it_work">
            <center><h2><b>How it works</b></h2></center>
            <div class="container my-3">
                <div class="row my-3">
                    <div class="col-md-6 col-12">
                        <h3><b>Register Yourself</b></h3>
                        <p>provide your basic information to register yourself as a service provider.</p>
                        <p class="read_more">Read more <img src="~/assets/img/shape-2.png"></p>
                    </div>
                    <div class="col-md-6 col-12" align="right">
                        <img src="~/assets/img/group-29.png" class="side_img">
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6 col-12">
                        <img src="~/assets/img/group-29.png" class="side_img">
                    </div>
                    <div class="col-md-6 col-12">
                        <h3><b>Get service requests</b></h3>
                        <p>You will get service requests from customers depends on service area and profile.</p>
                        <p class="read_more">Read more <img src="~/assets/img/shape-2.png"></p>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-6 col-12">
                        <h3><b>complete service</b></h3>
                        <p>Accept service from your customers and complte your work.</p>
                        <p class="read_more">Read more <img src="~/assets/img/shape-2.png"></p>
                    </div>
                    <div class="col-md-6 col-12" align="right">
                        <img src="~/assets/img/group-29.png" class="side_img">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h6 class="get-our-newsletter"><b>GET OUR NEWSLETTER</b></h6>
            <span>
                <button class="email_btn">YOUR EMAIL</button>
                <button class="submit_btn">submit</button>
            </span>
        </div>
    </div>
</section>
