@model Helperland.Models.ChangePassClass
@{
    ViewData["Title"] = "Change password Page";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row justify-content-md-center" style="margin-top:100px; margin-bottom:100px">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Change Password
                <span class="btn float-md-right bg-danger"><a asp-controller="Account" asp-action="Index">&times;</a></span>
            </div>
            <div class="card-body">
                <div class="text-danger"></div>
                <form asp-controller="Account" asp-action="UpdatePass" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <span class="text-danger">@ViewBag.error</span>
                    <input asp-for="Email" class="form-control mt-3" value="@ViewBag.Email" name="Email" />

                    <input asp-for="Password" class="form-control mt-3" placeholder="New password">
                    <span asp-validation-for="Password" class="text-danger"></span>

                    <input asp-for="Confirmpwd" class="form-control mt-3" placeholder="confirm password">
                    <span asp-validation-for="Confirmpwd" class="text-danger"></span>

                    <input type="submit" value="Save" class="form-control rounded_btn mt-3" />

                </form>
            </div>
            <div class="card-footer text-center">
                <a asp-controller="Account" asp-action="Login" class="text-primary">Bake to Login</a>
            </div>
        </div>
    </div>
</div>
